services:
  elasticsearch:
    image: elasticsearch:9.2.5
    ports:
      - ${ES_PORT}:9200
    environment:
      discovery.type: single-node
      xpack.security.enabled: false
      http.cors.enabled: true
      http.cors.allow-origin: /.*/
    volumes:
      - elasticsearch:/usr/share/elasticsearch/data

volumes:
  elasticsearch:
