a {
  text-decoration: none;
  color: #66f;
}
a:hover {
  text-decoration: underline;
}
body {
  font-family: system-ui;
  line-height: 1.4em;
  padding: 20px;
  font-size: 12px;
  overflow-y: scroll;
}
form > input[type="text"] {
  width: 50%;
}
.nav {
  display: flex;
}
.nav div {
  flex-grow: 1;
}
.nav div:last-child {
  text-align: right;
}
