a {
    text-decoration:none;
    color:#66F;
}
a:hover {
    text-decoration:underline;
}
body {
    font-family:Arial;
    line-height:1.4em;
    padding:20px;
    font-size:12px;
    overflow-y: scroll;
}
form>input[type=text] {
    width:50%;
}